<%- include('partials/header')%>
<div class="container">
    <div class="card text-center my-3">
        <div class="card-header h2">
            <%=blog.title%>
        </div>
        <div class="card-body">
            <div>
                <img src="<%=blog.image%>" class="img-fluid" alt="Responsive image">
            </div>
            <p class="card-text my-3"><%=blog.body%></p>
            <a class="btn btn-primary" href="/blogs/<%=blog._id%>/edit">Edit Blog</a>
        </div>
        <div class="card-footer text-muted">
            <%=blog.created.toDateString()%>
        </div>
    </div>
</div>

<%- include('partials/footer')%>